<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4ooHk7Vqg_SZFan_eI_ZoYZyRpmqR6IQ</string>
	<key>GCM_SENDER_ID</key>
	<string>842703409113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.readingApp9</string>
	<key>PROJECT_ID</key>
	<string>flutter-base-app-b41d1</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-base-app-b41d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842703409113:ios:cfcd4fafded46c427813c8</string>
</dict>
</plist>